/* First Feature */
.main-feature {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(47, 47, 47);
  -webkit-box-shadow: inset 13px 113px 22px -111px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: inset 13px 113px 22px -111px rgba(0, 0, 0, 0.76);
  box-shadow: inset 13px 113px 22px -111px rgba(0, 0, 0, 0.76);
}

.feature-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3%;
  color: white;
  border-left: 1px solid rgb(255, 255, 255);
  padding: 15px;
}

.feature-text h1 {
  text-transform: uppercase;
  font-size: 4em;
}

.feature-image {
  width: 70%;
  height: 100%;
  display: flex;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../images/feature1.png);
  /*border: 2px solid red;*/
}

.feature-image-hover {
  z-index: 2;
  position: relative;
  right: 5px;
  height: 100%;
  width: 100%;
  background: rgba(47, 47, 47, 1);
  background: -moz-linear-gradient(
    left,
    rgba(47, 47, 47, 1) 0%,
    rgba(46, 46, 46, 1) 3%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(47, 47, 47, 1)),
    color-stop(3%, rgba(46, 46, 46, 1)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(47, 47, 47, 1) 0%,
    rgba(46, 46, 46, 1) 3%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(47, 47, 47, 1) 0%,
    rgba(46, 46, 46, 1) 3%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(47, 47, 47, 1) 0%,
    rgba(46, 46, 46, 1) 3%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(47, 47, 47, 1) 0%,
    rgba(46, 46, 46, 1) 3%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#000000', GradientType=1 );
}

.featureWord {
  color: rgb(255, 219, 60);
  font-size: 1.7em;
}

.video-box-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.video-box-title {
  justify-content: center;
  padding: 15px;
  margin-bottom: 30px;
}

.video-box-title h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.37);
}
