/* Footer */
.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 25vh;
  max-width: 100%;
  background-color: rgb(53, 53, 53);
}

.footer-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 90%;
}

.footer-logo {
  width: 15%;
  padding: 2%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  height: 9rem;
  filter: invert(100%);
}

.footer-sitemap {
  margin-left: 10%;
  display: flex;
  align-items: center;
  width: 25%;
  height: 80%;
  border-left: 1px solid rgb(93, 93, 93);
  padding: 10px;
}

.footer-sitemap ul {
  margin-left: 10%;
  height: 100%;
  list-style: none;
}

.footer-sitemap ul span {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 200;
  color: rgb(93, 93, 93);
}

.footer-sitemap li {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

.footer-sitemap li a {
  text-decoration: none;
  color: #fff;
  color: none;
}

.footer-sitemap li a:hover {
  text-decoration: none;
  color: rgb(93, 93, 93);
  transition: 0.15s;
}

.footer-description {
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  border-left: 1px solid rgb(93, 93, 93);
  padding-left: 15px;
}

.footer-description p {
  font-size: 14px;
  color: rgb(177, 177, 177);
}

.footer-description h1 {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 200;
  color: rgb(93, 93, 93);
}

.footer-down {
  width: 100vw;
  max-width: 100%;
  text-align: center;
  background-color: rgb(93, 93, 93);
  font-size: 12px;
  height: 10%;
}
