@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }

  .main-container {
    height: 100vh;
  }

  .main-container-title {
    text-align: center;
    font-size: 5.2rem;
  }

  .main-container-desc {
    font-size: 2.1rem;
  }

  .video-main {
    flex-direction: column;
  }

  .stats-main {
    height: auto;
  }

  .stats-title {
    text-align: center;
    font-size: 1rem;
  }

  .stat-box-main {
    flex-direction: column !important;
    height: auto;
    padding: 40px;
  }

  .stat-box {
    margin: 10px;
  }

  .stats-main {
    height: auto;
  }

  .main-feature {
    text-align: center;
    height: auto;
    flex-direction: column;
  }

  .feature-text-container {
    margin: 10vh auto;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
  }

  .feature-image-hover {
    display: none;
  }

  .feature-image {
    position: relative;
  }

  .video-box-container {
    flex-direction: column !important;
  }

  .video-box-title {
    order: -1;
    text-align: center;
  }

  .footer-main {
    height: auto;
    padding: 10px;
  }

  .footer-logo {
    position: relative;
    right: 20px;
  }

  .footer-description {
    display: none;
  }

  /* Menu mobile */
  .navbar,
  .navbar.stretch,
  #navbar {
    display: none;
  }

  .navbar-mobile {
    z-index: 3;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 10vh;
    width: 100vw;
    max-width: 100%;
    background: #fff;
  }

  .navbar-mobile-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 100%;
  }

  .navbar-mobile svg {
    font-size: 2.8rem;
    color: rgb(0, 0, 0);
  }

  .navbar-mobile-textlogo {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-mobile-textlogo p {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 450;
    position: relative;
    top: 4px;
    left: 10px;
  }

  .navbar-mobile-textlogo img {
    height: 75%;
    width: auto;
  }

  .navbar-mobile.on {
    overflow: hidden;
    height: 100vh;
    width: 100vh;
    max-width: 100%;
    transition: 0.2s;
  }

  .video-box iframe {
    width: 80vw !important;
    height: 400px;
  }

  #stats-kill-fame {
    font-size: 3.8rem;
  }
}
