<%- include('partials/header.ejs') %>

<body>

  <%- include('partials/navbar.ejs') %>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Body page, needs to be reworked. -->
  <table id="battleboard" class="display">
    <thead>
      <tr>
        <th>When happened</th>
        <th>Players</th>
        <th>Kills</th>
        <th>Total Fame</th>
        <th>Winning guild</th>
        <th>Losing guild</th>
        <th></th>
      </tr>
    </thead>
    <tbody id='battles'>
    </tbody>
  </table>

  <%- include('partials/footer.ejs') %>

  <script src="js/battleboard.js" type='module'></script>

  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js"
    integrity="sha256-4HOrwHz9ACPZBxAav7mYYlbeMiAL0h6+lZ36cLNpR+E=" crossorigin="anonymous">
  </script>

</body>
</html>