<%- include('partials/header.ejs') %>

<body>

  <%- include('partials/navbar.ejs') %>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <br />
  <h1>Winner guilds</h1>
  <br />
  <!-- Body page, needs to be reworked. -->
  <table id="winnerTable" class="display">
    <thead>
      <tr>
        <th>Alliance</th>
        <th>Guild</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Killfame</th>
      </tr>
    </thead>
    <tbody id="battles">
      <!-- Here comes the data -->
    </tbody>
  </table>

  <br />
  <h1>Loser guilds</h1>
  <br />
  <table id="loserTable" class="display">
    <thead>
      <tr>
        <th>Alliance</th>
        <th>Guild</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Killfame</th>
      </tr>
    </thead>
    <tbody id="battles">
      <!-- Here comes the data -->
    </tbody>
  </table>

  <br />
  <h1>Other guilds</h1>
  <br />
  <table id="otherTable" class="display">
    <thead>
      <tr>
        <th>Alliance</th>
        <th>Guild</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Killfame</th>
      </tr>
    </thead>
    <tbody id="battles">
      <!-- Here comes the data -->
    </tbody>
  </table>

  <br />
  <h1>Winner players</h1>
  <br />
  <table id="winnerPlayersTable" class="display">
    <thead>
      <tr>
        <th>Guild Name</th>
        <th>Player Name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Killfame</th>
      </tr>
    </thead>
    <tbody id="battles">
      <!-- Here comes the data -->
    </tbody>
  </table>

  <br />
  <h1>Loser players</h1>
  <br />
  <table id="loserPlayersTable" class="display">
    <thead>
      <tr>
        <th>Guild Name</th>
        <th>Player Name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Killfame</th>
      </tr>
    </thead>
    <tbody id="battles">
      <!-- Here comes the data -->
    </tbody>
  </table>

  <br />
  <h1>Other players</h1>
  <br />
  <table id="otherPlayersTable" class="display">
    <thead>
      <tr>
        <th>Guild Name</th>
        <th>Player Name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Killfame</th>
      </tr>
    </thead>
    <tbody id="battles">
      <!-- Here comes the data -->
    </tbody>
  </table>

  <%- include('partials/footer.ejs') %>

  <script src="js/battlelog.js" type='module'></script>

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js"
    integrity="sha256-4HOrwHz9ACPZBxAav7mYYlbeMiAL0h6+lZ36cLNpR+E=" crossorigin="anonymous">
  </script>

  <script>
    const battleId = <%= battleId %>
  </script>

</body>

</html>