<%- include('partials/header.ejs') %>

<body>
  <%- include('partials/navbar.ejs') %>

  <div id="main-wrapper">
    <div class="bghover">
      <!-- Background Div -->
    </div>

    <div id="bg-video">
      <video
        id="videobcg"
        preload="auto"
        autoplay="true"
        loop="loop"
        muted="muted"
        volume="0"
      >
        <source src="video/takecarebg.mp4" type="video/mp4" />
        Sorry, your browser does not support HTML5 video.
      </video>
    </div>

    <div class="main-container">
      <div class="main-container-text">
        <span class="main-container-title">
          <span id="titleWordHTML"></span> with Take Care.
        </span>
        <span class="main-container-desc">
          Join and play with the best ZvZ guild in Albion Online.
        </span>
      </div>
      <div class="main-footer">
        <i class="fas fa-angle-double-down"></i>
      </div>
    </div>
  </div>

  <div class="stats-main top-shadow">
    <div class="stats-title">
      <h1>Dominance in numbers</h1>
    </div>
    <div class="stat-box-main">
      <div role="status" class="stat-box" data-aos="zoom-in">
        <h1><span id="stats-member-count">Loading...</span></h1>
        <p>Active members</p>
      </div>
      <div class="stat-box" data-aos="zoom-in">
        <h1><span id="stats-player-kills"> Loading... </span></h1>
        <p>Take Care Victims</p>
      </div>
      <div class="stat-box" data-aos="zoom-in">
        <h1><span id="stats-kill-fame"> Loading... </span></h1>
        <p>Kill Fame FARMED</p>
      </div>
      <div class="stat-box" data-aos="zoom-in">
        <h1><span id="stats-ratio"> Loading... </span></h1>
        <p>Kill/Death Ratio</p>
      </div>
    </div>
  </div>

  <div class="main-feature top-shadow">
    <div class="feature-text-container order-1">
      <div class="feature-text" data-aos="fade-up">
        <span class="featureWord">Enjoy</span><br />
        <h1>Friendly people</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          varius lorem vitae mattis porta. Cras ultricies interdum nunc, sed
          mollis lorem accumsan vitae. Cras vel neque quis nisl tincidunt
          faucibus. Suspendisse at ultricies nunc, ut gravida nisi.
        </p>
      </div>
    </div>
    <div class="feature-image-hover top-shadow invert"></div>
  </div>

  <div class="main-feature top-shadow">
    <div class="feature-text-container">
      <div class="feature-text" data-aos="fade-up">
        <span class="featureWord">Enjoy</span><br />
        <h1>Friendly people</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          varius lorem vitae mattis porta. Cras ultricies interdum nunc, sed
          mollis lorem accumsan vitae. Cras vel neque quis nisl tincidunt
          faucibus. Suspendisse at ultricies nunc, ut gravida nisi.
        </p>
      </div>
    </div>
    <div class="feature-image-hover top-shadow"></div>
  </div>

  <div class="video-main top-shadow">
    <div class="video-box-container">
      <div class="video-box">
        <iframe
          src="https://www.youtube.com/embed/Oa7xlQLq-iQ"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-box">
        <iframe
          src="https://www.youtube.com/embed/6cDzwVSBUxo"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="video-box">
        <iframe
          src="https://www.youtube.com/embed/xD-c6W4RIxU"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="video-box-title">
      <h1>we are always improving!</h1>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
</body>
